<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <script src="/js/sockjs.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/stomp.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;

        var stompClient, socket;
        var WEBSOCKET_TARGET_URL = "/join";
        var status = false;
        var timeout = 5000;

        $(document).ready(function() {
            socketConnect();
        });

        var socketConnect = function() {
            console.log("con..");
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                status = true;
                $('.socket-status').text("connected!!");
                stompClient.subscribe("/socket/players/answer/ox/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    for (var a in answer.result) {
                        if(answer.result[a].result == 'O') {
                            $('.o-count').text(answer.result[a].choice);
                        } else if(answer.result[a].result == 'x') {
                            $('.x-count').text(answer.result[a].choice);
                        }

                    }
                });
            }, function (error) {
                // TODO error 처리
                status = false;
                setTimeout(function() {
                    socketConnect();
                }, timeout);
                $('.socket-status').text("connecting ...");
            });
        }
        /*]]>*/
    </script>
</head>
<body>
    <h1 th:text="${dashboard.title}"></h1>
    <ul>

    </ul>
</body>
</html>