<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>


    <!-- BootStrap START -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- BootStrap END -->

    <link rel="stylesheet" href="/css/control.css"/>
    <link rel="stylesheet" href="/css/bounce.css"/>

    <script src="/js/sockjs.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/jquery.cookie.js"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="navbar navbar-static-top control-navbar-header" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand control-navbar-brand">Active Presentation</a>
            </div>
            <div class="control-navbar-status">
                <ul>
                    <div class="control-navbar-status-fail">
                        <span class="glyphicon glyphicon-remove control-navbar-status-fail"></span> Not Connected ...
                    </div>
                    <div class="control-navbar-status-connect" style="display: none;">
                        <span class="glyphicon glyphicon-signal"></span>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="container">
            <div class="alert alert-danger closed" role="alert" style="display: none;">
                This poll <strong>is closed.</strong>
            </div>
            <div class="control-choice-container">
                <h1 th:text="${dashboard.title}"></h1>
                <ul class="control-choice-list"></ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;


        var stompClient, socket;
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        }
        var choiceBounceClass = "choice-bounce-target";
        var classList = [];

        $(document).ready(function() {
            socketChoiceConnect();
            answerList();
            markingResult(result);
        });

        var socketChoiceConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                stompClient.subscribe("/socket/players/answer/choice/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                        for(var i in classList) {
                            $('.' + classList[i]).removeClass(choiceBounceClass);
                        }
                    }
                });
                statusConnect();
            }, function (error) {
                // TODO error 처리
                connect = false;
                setTimeout(function() {
                    socketConnect();
                }, timeout);
                statusDisconnect();
            });
        }

        var answerList = function() {
            for(var i in board.questions) {
                classList.push(board.questions[i].id);
                var inHtml = "<li class='" + board.questions[i].id + "' onclick='response(this)'><h2>" + board.questions[i].answerList + "</h2></li>";
                $('.control-choice-list').append(inHtml);
            }
        }

        var response = function(div) {
            $(div).removeClass(choiceBounceClass);
            var responseNumber = $(div).attr('class');
            if(connect) {
                answer.response = responseNumber;
                markingResult(responseNumber);
                stompClient.send('/socket/answer/choice/' + board.id, {}, JSON.stringify(answer));
            }
        }

        var markingResult = function(answer) {
            answer = String(answer);
            for(var i in classList) {
                $('.' + classList[i]).removeClass(choiceBounceClass);
            }
            $('.' + answer).addClass(choiceBounceClass);
        }
        /*]]>*/
    </script>
    <script src="/js/socketConnect.js"></script>
</body>
</html>