<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<head>
</head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div id="content">
        <div class="container">
            <div class="dashboard-block">
                <div class="pull-left dashboard-up-title">QUESTION</div>
                <div class="alert alert-danger closed" role="alert" style="display: none;">
                    This poll <strong>is closed.</strong>
                </div>
                <h1 class="text-center dashboard-title" th:text="${dashboard.title}"></h1>
            </div>
            <div class="controller-choice-list"></div>
        </div>
    </div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;


        var stompClient, socket;
        var WEBSOCKET_TARGET_URL = "/join";
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        }
        var choiceBounceClass = "choice-target";
        var classList = [];

        $(document).ready(function() {
            socketChoiceConnect();
            answerList();
            markingResult(result);
        });

        var socketChoiceConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                stompClient.subscribe("/socket/players/answer/choice/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                        for(var i in classList) {
                            $('.' + classList[i]).removeClass(choiceBounceClass);
                        }
                    }
                });
                statusConnect();
            }, function (error) {
                connect = false;
                setTimeout(function() {
                    socketChoiceConnect();
                }, timeout);
                statusDisconnect();
            });
        }

        var answerList = function() {
            var sortedQuestions = [];
            for(var i in board.questions) {
                sortedQuestions[board.questions[i].listOrder] = board.questions[i];
                classList.push(board.questions[i].id);

            }

            addAnswerList(sortedQuestions);
        }

        var response = function(div) {
            $(div).removeClass(choiceBounceClass);
            var responseText = $(div).attr('class').replace("dashboard-block ", "");
            responseText = responseText.replace("choice-target ", "");

            if(connect) {
                answer.response = responseText;
                markingResult(responseText);
                stompClient.send('/socket/answer/choice/' + board.id, {}, JSON.stringify(answer));
            }
        };

        var markingResult = function(answer) {
            answer = String(answer);
            for(var i in classList) {
                $('.' + classList[i]).removeClass(choiceBounceClass);
            }
            $('.' + answer).addClass(choiceBounceClass);
        };

        var addAnswerList = function(answer) {
            for(var i in answer) {
                var inHTML = "<div class='dashboard-block " + answer[i].id + "' onclick='response(this)'>"
                                + "<i class='fa fa-check roundicon'></i>"
                                + "<h3>" + answer[i].answerList + "</h3>"
                           + "</div>";
                $('.controller-choice-list').append(inHTML);
            }
        };
        /*]]>*/
    </script>
</body>
</html>