<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<body>
    <div th:include="dashboard-layout :: navbar" style="min-width: 600px;"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container" style="min-width: 600px;">
            <div th:include="dashboard-layout :: board-title"></div>
            <div class="dashboard-block dashboard-block-result">
                <div class="row">
                    <div class="text-center nobody" style="display: none;">
                        <h1>Nobody has not vote yet.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="dashboard-choice-chart"></div>
                    </div>
                    <div class="col-sm-5">
                        <table class="no-borders no-strip padding-sm dashboard-choice-table">
                            <tbody class="no-border-x no-border-y dashboard-choice-list"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="!${dashboard.anonymous}">
                <div class="dashboard-block">
                    <h3 class="dashboard-answer-list">Answer List</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Answer Filter <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu answer-list-dropmenu" role="menu">
                            <li><a href='#' class='result-' onclick='filterAnswer(this)'>Show all</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dashboard-poll list-group tickets">
                </div>
            </div>
        </div>
    </div>

    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>

    <script type="text/javascript" src="/js/jquery.flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/jquery.flot/jquery.flot.pie.js"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var boardId = /*[[${dashboard.id}]]*/ null;
        var questions = /*[[${dashboard.questions}]]*/ null;

        var stompClient, socket;
        var WEBSOCKET_TARGET_URL = "/join";
        var connect = false;
        var timeout = 5000;

        var colorArray = ["#5793f3", "#19B698","#dd4444","#fd9c35","#fec42c","#d4df5a","#5578c2", "#649BF4", "#BD3B47", "#A66BBE"];

        $(document).ready(function() {
            socketChoiceConnect();
            addAnswerListDropMenu();
        });

        var socketChoiceConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                statusConnect();
                stompClient.subscribe("/socket/players/answer/choice/" + boardId, function(message) {
                    var answer = JSON.parse(message.body);
                    checkEmpty(answer.result.length);
                    fillLegendTable(answer.result);
                    drawPieChart(answer.result);
                });

                stompClient.subscribe("/socket/players/answer/audience/" + boardId, function(message) {
                    $('.dashboard-poll').empty();
                    var answer = JSON.parse(message.body);
                    for (var a in answer) {
                        addResultProfile(answer[a]);
                    }
                });

            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };

        var fillLegendTable = function(result) {
            $('.dashboard-choice-list').empty();
            for(var i in result) {
                var inHTML = "<tr>"
                                + "<td style='width:30px;'><div class='legend dashboard-choice-legend' data-color=''></div></td>"
                                + "<td>" + result[i].result + "</td>"
                                + "<td class='text-right'><b>" + result[i].choice + "</b></td>"
                           + "</tr>"
                $('.dashboard-choice-list').append(inHTML);
            }

            for(var i=0; i < $('.dashboard-choice-list tr').size(); i++) {
                $($('.dashboard-choice-list tr')[i]).find('.legend').attr('data-color', colorArray[i]);
            }

            //color fill
            $("table td .legend").each(function(){
                var el = $(this);
                var color = el.attr("data-color");
                el.css("background",color);
            });
        };

        var drawPieChart = function(result) {
            var pollData = [];

            for(var i in result) {
                pollData.push({
                    id: result[i].id,
                    data: result[i].choice,
                    label: result[i].result
                });
            }

            $.plot('.dashboard-choice-chart', pollData, {
                series: {
                    pie: {
                        show: true,
                        innerRadius: 0.5,
                        shadow:{
                            top: 5,
                            left: 15,
                            alpha:0.3
                        },
                        stroke:{
                            width:0
                        },
                        label: {
                            show: true,
                            background: {
                                opacity: 0.7,
                                color: '#fff'
                            }
                        },
                        highlight:{
                            opacity: 0.08
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                colors: ["#5793f3", "#19B698","#dd4444","#fd9c35","#fec42c","#d4df5a","#5578c2"],
                legend: {
                    show: false
                }
            });
        };

        var checkEmpty = function(answer) {
            if(answer == 0) {
                $('.nobody').show();
            } else {
                $('.nobody').hide();
            }
        };


        var addResultProfile = function(answer) {

            var inHTML = "<li class='list-group-item col-sm-4 col-md-4 col-lg-3 result-" + answer.resultId + "'>"
                            + "<img class='avatar' width='50' height='50' src='" + answer.profileImage + "' />"
                            + "<h4 class='name'>" + answer.name + "</h4>"
                            + "<div class='answer-result'>" + answer.result + "</div>"
                            + "<span class='date'>" + dateFormat(answer.createdDate) + "</span>"
                        + "</li>";

            $('.dashboard-poll').append(inHTML);
        };

        var dateFormat = function(d) {
            var date = new Date(d);
            return (date.getMonth()+1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes();
        };

        var addAnswerListDropMenu = function() {
            for (var i in questions) {
                var inHTML = "<li><a href='#' class='result-" + questions[i].id + "' onclick='filterAnswer(this)'>" + questions[i].answerList + "</a></li>";
                $('.answer-list-dropmenu').append(inHTML);
            }
        };

        var filterAnswer = function(div) {
            var id = $(div).attr('class');
            var answerList = $('.dashboard-poll').children();

            for(var i=0; i < answerList.size(); i++) {
                var answerDiv = $(answerList.get(i));
                if(answerDiv.attr('class').indexOf(id) > -1) {
                    answerDiv.show();
                } else {
                    answerDiv.hide();
                }
            }
        };

        /*]]>*/
    </script>
</body>
</html>