<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<head>
</head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container">
            <div class="dashboard-block">
                <div class="pull-left dashboard-up-title">QUESTION</div>
                <div class="alert alert-danger closed" role="alert" style="display: none;">
                    This poll <strong>is closed.</strong>
                </div>
                <h1 class="text-center dashboard-title" th:text="${dashboard.title}"></h1>
            </div>
            <div class="dashboard-block" th:if="!${dashboard.anonymous}">
                <div th:if="${speaker} == null">
                    <span>실명 투표 및 이벤트 참여를 위해서 로그인이 필요 합니다.</span>&nbsp;
                    <a th:href="'/signin?board=' + ${dashboard.id}" class="btn btn btn-info btn-xs">SignIn</a>
                </div>
                <div th:if="${speaker} != null" class="controller-profile">
                    <input type="hidden" th:value="${speaker.id}" class="controller-profile-id"/>
                    <img th:src="${speaker.profileImage}"/>
                    <span th:text="${speaker.name}"></span>
                    <a th:href="'/signout?board=' + ${dashboard.id}" class="btn btn btn-info btn-xs">SignOut</a>
                </div>
            </div>
            <div class="controller-choice-list"></div>
        </div>
    </div>
    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var boardId = /*[[${dashboard.id}]]*/ null;
        var questions = /*[[${dashboard.questions}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;
        var speakerId = $('.controller-profile-id').val();

        var stompClient, socket;
        var WEBSOCKET_TARGET_URL = "/join";
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        };
        var choiceBounceClass = "choice-target";
        var classList = [];

        $(document).ready(function() {
            socketChoiceConnect();
            answerList();
            markingResult(result);
            checkAnonymous();
        });

        var socketChoiceConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                stompClient.subscribe("/socket/players/answer/choice/" + boardId, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                        for(var i in classList) {
                            $('.' + classList[i]).removeClass(choiceBounceClass);
                        }
                    }
                });
                statusConnect();
            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };

        var answerList = function() {
            var sortedQuestions = [];
            for(var i in questions) {
                sortedQuestions[questions[i].listOrder] = questions[i];
                classList.push(questions[i].id);

            }

            addAnswerList(sortedQuestions);
        };

        var response = function(div) {
            $(div).removeClass(choiceBounceClass);
            var responseText = $(div).attr('class').replace("dashboard-block ", "");
            responseText = responseText.replace("choice-target ", "");

            if(connect) {
                answer.response = responseText;
                markingResult(responseText);
                stompClient.send('/socket/answer/choice/' + boardId, {}, JSON.stringify(answer));
            }
        };

        var markingResult = function(answer) {
            answer = String(answer);
            for(var i in classList) {
                $('.' + classList[i]).removeClass(choiceBounceClass);
            }
            $('.' + answer).addClass(choiceBounceClass);
        };

        var addAnswerList = function(answer) {
            for(var i in answer) {
                var inHTML = "<div class='dashboard-block " + answer[i].id + "' onclick='response(this)'>"
                                + "<i class='fa fa-check roundicon'></i>"
                                + "<h3>" + answer[i].answerList + "</h3>"
                           + "</div>";
                $('.controller-choice-list').append(inHTML);
            }
        };

        var checkAnonymous = function() {
            if(speakerId == null) {
                answer.type = "ANONYMOUS";
            } else {
                answer.type = "FACEBOOK";
                answer.speakerId = speakerId;
            }
        };
        /*]]>*/
    </script>
</body>
</html>