<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: head"></head>

<body>

<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="admin/layout :: navbar"></div>


<div id="cl-wrapper">
    <div class="cl-sidebar" th:include="admin/layout :: sidebar"></div>

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>Group</h2>
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li class="active" >group</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="block-flat makeone">
                        <div class="header">
                            <h4>Make Group</h4>
                        </div>
                        <div class="content text-center">
                            <div style="height: 110px;">
                                <p style="font-size: 50px; margin-top: 35px; color: #dadada;"><i class="fa fa-plus"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3" th:each="data,iterStat : ${datas}">
                    <div class="block-flat">
                        <div class="header">
                            <div>
                                <h3 class="visible-sm visible-md">GROUP</h3>
                                <h3 class="visible-lg">GROUP</h3>
                                <h3 class="visible-xs">GROUP</h3>
                            </div>
                            <span th:text="${#calendars.format(data.createdDate, 'yyyy/MM/dd HH:mm')}"></span>
                        </div>
                        <div class="content">
                            <div style="height: 50px; overflow: hidden;" class="title">
                                <p th:text="${data.title}">title</p>
                            </div>
                            <div class="spacer2 text-center">
                                <a th:href="'/admin/group/' + ${data.id}" class="btn btn-default btn-flat"><i class="fa fa-edit"></i> Modify</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="admin/layout :: script"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $('.makeone').click(function() {
        location.href = "/admin/group/make";
    });

    $('.content > .title').ellipsis();
    /*]]>*/
</script>
</body>
</html>
