<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/images/favicon.png"/>

    <title>Poll.pt</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.gritter/css/jquery.gritter.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/js/jquery.nanoscroller/nanoscroller.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.easypiechart/jquery.easy-pie-chart.css" />
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.switch/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.slider/css/slider.css" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/admin.css" rel="stylesheet" />

</head>

<body>

<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>
            <a class="navbar-brand" href="/admin"><span>Poll.pt</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin">Home</a></li>
                <li><a href="/admin/landing">About</a></li>
                <li><a href="/admin/contact">Contact us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="Avatar" th:src="${speaker.profileImage}"/>
                        <span th:text="${speaker.name}"></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/account">Account</a></li>
                        <li class="divider"></li>
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div id="cl-wrapper">
    <div class="cl-sidebar" th:fragment="sidebar">
        <div class="cl-toggle"><i class="fa fa-bars"></i></div>
        <div class="cl-navblock">
            <div class="menu-space">
                <div class="content">
                    <div class="side-user">
                        <div class="avatar"><img th:src="${speaker.profileImage}" alt="Avatar" style="width: 50px; height: 50px;" /></div>
                        <div class="info">
                            <a href="#" th:text="${speaker.name}"></a>
                            <img src="/images/state_online.png" alt="Status" /> <span>Online</span>
                        </div>
                    </div>
                    <ul class="cl-vnavigation">
                        <li><a href="/admin"><i class="fa fa-home"></i><span>Home</span></a>
                        </li>
                        <li><a href="/admin/ox"><i class="fa fa-check-circle-o"></i><span>Yes or No Question</span></a>
                        </li>
                        <li><a href="/admin/multi"><i class="fa fa-list-ol"></i><span>Multiple Choice</span></a>
                        </li>
                        <li><a href="/admin/qna"><i class="fa fa-comments"></i><span>Message Board</span></a>
                        </li>
                        <li><a href="/admin/group"><i class="fa fa-list-ul"></i><span>Grouping Polls</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>Blank Page</h2>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li class="active">Sub Category</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <h3 class="text-center">Content goes here!</h3>
        </div>
    </div>

</div>
<div th:fragment="script">
<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
<script type="text/javascript" src="/js/jquery.sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript" src="/js/behaviour/general.js"></script>
<script type="text/javascript" src="/js/jquery.ui/jquery-ui.js" ></script>
<script type="text/javascript" src="/js/bootstrap.switch/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/jquery.select2/select2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.slider/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="/js/jquery.gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/js/jquery.autoellipsis-1.0.10.min.js"></script>


<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.labels.js"></script>
<script type="text/javascript">
    App.init();
</script>
</div>

</body>
</html>
