<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: head"></head>
<head>
    <link href="/js/jquery.icheck/skins/square/blue.css" rel="stylesheet"/>
</head>

<body>

<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="admin/layout :: navbar"></div>


<div id="cl-wrapper">
    <div class="cl-sidebar" th:include="admin/layout :: sidebar"></div>

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2 th:text="'Create ' + ${data.presentationType?.name()}"></h2>
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li th:if="${data.presentationType?.name() == 'OX'}"><a href="/admin/ox">Yes or No Choice</a></li>
                <li th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}"><a href="/admin/multi">Multiple Choice</a></li>
                <li th:if="${data.presentationType?.name() == 'QNA'}"><a href="/admin/qna">Message Board</a></li>
                <li class="active">Create New</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="content">
                            <form class="form-horizontal group-border-dashed" th:action="@{/admin/make}" style="border-radius: 0px;" th:object="${data}" method="post">
                                <input type="hidden" th:field="*{id}" />
                                <input type="hidden" th:field="*{presentationType}" />
                                <input type="hidden" id="questionList" name="questionList" />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:field="*{title}" />
                                    </div>
                                </div>
                                <div class="form-group" th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}">
                                    <label class="col-sm-3 control-label">Selecttions</label>
                                    <div class="col-sm-6">
                                        <div class="add-list input-group" th:if="${error} != 'questions'">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" onclick="addList()"><i class="fa fa-plus-circle"></i></button>
                                            </span>
                                        </div>
                                        <div class="add-list input-group" th:if="${error} == 'questions'">
                                            <input type="text" class="form-control parsley-error" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" onclick="addList()"><i class="fa fa-plus-circle"></i></button>
                                            </span>
                                        </div>
                                        <ul class="parsley-errors-list filled" th:if="${error} == 'questions'"><li class="parsley-required">This value is required.</li></ul>
                                        <div class="dd">
                                            <ol class="dd-list"></ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Secure <i class="fa fa-question-circle q-secure" data-popover="popover" data-original-title="Secure Option" data-placement="right" data-trigger="hover" data-content="Show only speaker." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{secure}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status <i class="fa fa-question-circle q-status" data-popover="popover" data-original-title="Status Option" data-placement="right" data-trigger="hover" data-content="OFF status do not voting." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{status}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Anonymous <i class="fa fa-question-circle q-anonymous" data-popover="popover" data-original-title="Anonymous Option" data-placement="right" data-trigger="hover" data-content="Anonymous can vote." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{anonymous}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="spacer2 text-center">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <a href="/admin/ox" th:if="${data.presentationType?.name() == 'OX'}" class="btn btn-default">Cancel</a>
                                    <a href="/admin/multi" th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}" class="btn btn-default">Cancel</a>
                                    <a href="/admin/qna" th:if="${data.presentationType?.name() == 'QNA'}" class="btn btn-default">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="admin/layout :: script"></div>
<script type="text/javascript" src="/js/jquery.icheck/icheck.min.js"></script>
<script type="text/javascript" src="/js/jquery.nestable/jquery.nestable.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var data = /*[[${data}]]*/ null;
    var qSecure = /*[[#{question.secure}]]*/ null;
    var qStatus = /*[[#{question.status}]]*/ null;
    var qAnonymous = /*[[#{question.anonymous}]]*/ null;

    $('.bt-switch').bootstrapSwitch();
    $('[data-toggle="tooltip"]').tooltip();

    $('.dd').nestable();
    $('.dd').on('change', function() {
        fillQuestions();
    });

    var addList = function() {
        var listText = $('.add-list input').val();

        if(listText.length == 0) {
            $.gritter.add({
                title: 'Empty String',
                text: 'Fill Select List.',
                class_name: 'clean',
                time: ''
            });
            return false;
        }

        if(listText.indexOf(',') > 0) {
            $.gritter.add({
                title: 'Invalid String',
                text: 'Can not contain comma(,)',
                class_name: 'clean',
                time: ''
            });
            return false;
        }
        var inHTML = "<li class='dd-item dd-nochildren' data-answerlist='" + listText + "'>"
                        + "<div class='dd-handle'>" + listText + "</div>"
                    + "</li>";
        $('.dd-list').append(inHTML);

        $('.add-list input').val("");
        fillQuestions();
    };

    var fillQuestions = function() {
        var listText = [];
        var lists = $('.dd').find('.dd-handle');
        for(var i=0; i < lists.length; i++) {
            listText.push($(lists[i]).text());
        }
        $("#questionList").val(listText.join(','));

        // validation remove
        $('.parsley-error').removeClass('parsley-error');
        $('.parsley-errors-list').remove();
    };

    $('.q-secure').attr('data-content',qSecure);
    $('.q-status').attr('data-content',qStatus);
    $('.q-anonymous').attr('data-content',qAnonymous);

    /*]]>*/
</script>
</body>
</html>
