<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout :: head"></head>
<head>
    <link href="/js/jquery.icheck/skins/square/blue.css" rel="stylesheet"/>
</head>

<body>

<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" th:include="admin/layout :: navbar"></div>


<div id="cl-wrapper">
    <div class="cl-sidebar" th:include="admin/layout :: sidebar"></div>

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>OX Choice</h2>
            <ol class="breadcrumb">
                <li><a href="/admin">Home</a></li>
                <li th:if="${data.presentationType?.name() == 'OX'}"><a href="/admin/ox">OX Choice</a></li>
                <li th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}"><a href="/admin/multi">Multiple Choice</a></li>
                <li th:if="${data.presentationType?.name() == 'QNA'}"><a href="/admin/qna">Message Board</a></li>
                <li class="active">Edit</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <div th:if="${data.presentationType?.name()} == 'OX'" >
                                <h3>OX Dashboard Modify</h3>
                            </div>
                            <div th:if="${data.presentationType?.name()} == 'MULTIPLE_CHOICE'" >
                                <h3>MULTI CHOICE Dashboard Modify</h3>
                            </div>
                            <div th:if="${data.presentationType?.name()} == 'QNA'" >
                                <h3>Message Board Modify</h3>
                            </div>

                            <p style="margin-bottom: 0px !important">
                                Dashboard URL : <a th:href="'http://metadata.co.kr/board/' + ${data.id}" th:text="'http://metadata.co.kr/board/' + ${data.id}"></a>
                            </p>
                            <p>
                                Controller URL : <a th:href="'http://metadata.co.kr/' + ${data.id}" th:text="'http://metadata.co.kr/' + ${data.id}"></a>
                            </p>
                        </div>
                        <div class="content">
                            <form class="form-horizontal group-border-dashed" th:action="@{/admin/modify}" style="border-radius: 0px;" th:object="${data}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{presentationType}" />
                                <input type="hidden" id="questionList" name="questionList" />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:field="*{title}" />
                                    </div>
                                </div>
                                <div class="form-group" th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}">
                                    <label class="col-sm-3 control-label">Select List </label>
                                    <div class="col-sm-6">
                                        <div class="add-list input-group">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" onclick="addList()"><i class="fa fa-plus-circle"></i></button>
                                            </span>
                                        </div>
                                        <div class="dd">
                                            <ol class="dd-list"></ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Secure <i class="fa fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="Show only speaker." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{secure}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status <i class="fa fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="OFF status do not voting." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{status}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status <i class="fa fa-question-circle" data-placement="right" data-toggle="tooltip" data-original-title="Anonymous can vote." ></i></label>
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="switch bt-switch" data-size="small" th:field="*{anonymous}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="spacer2 text-center">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <a href="/admin/ox" th:if="${data.presentationType?.name() == 'OX'}" class="btn btn-default">Cancel</a>
                                    <a href="/admin/multi" th:if="${data.presentationType?.name() == 'MULTIPLE_CHOICE'}" class="btn btn-default">Cancel</a>
                                    <a href="/admin/qna" th:if="${data.presentationType?.name() == 'QNA'}" class="btn btn-default">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3>DELETE</h3>
                        </div>
                        <div class="content">
                            <div class="spacer2 text-center">
                                <form method="POST" th:action="'/admin/' + ${data.id}">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input type="submit" class="btn btn-danger" value="DELETE" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mod-modify" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="i-circle success"><i class="fa fa-cogs"></i></div>
                        <h4>&nbsp;</h4>
                        <input type="text" class="mod-modify-input form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="modifyProceed()">Proceed</button>
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" onclick="removeProceed()">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div th:include="admin/layout :: script"></div>
<script type="text/javascript" src="/js/jquery.icheck/icheck.min.js"></script>
<script type="text/javascript" src="/js/jquery.nestable/jquery.nestable.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var data = /*[[${data}]]*/ null;

    $('.bt-switch').bootstrapSwitch();
    $('[data-toggle="tooltip"]').tooltip();

    $(document).ready(function() {
        fillQuestions();
    })

    var listHTML = function(text) {
        return "<li class='dd-item' data-answerlist='" + text + "'>"
                + "<div class='pull-right' onclick='modifyList(this)' style='margin: 7px' data-toggle='modal' data-target='#mod-modify'>"
                    + "<i class='fa fa-cogs'></i>"
                + "</div>"
                + "<div class='dd-handle'>" + text + "</div>"
            + "</li>";
    }

    var selectList = [];
    for(var i=0; i < data.questions.length ; i++) {
        selectList[data.questions[i].listOrder - 1] = data.questions[i].answerList;
    }

    for(var i=0; i< selectList.length; i++) {
        $('.dd-list').append(listHTML(selectList[i]));
    }


    $('.dd').nestable();
    $('.dd').on('change', function() {
        fillQuestions();
    });

    var addList = function() {
        var listText = $('.add-list input').val();
        if(listText.indexOf(',') > 0) {
            $.gritter.add({
                title: 'Invalid String',
                text: 'Can not contain comma(,)',
                class_name: 'clean',
                time: ''
            });
            return false;
        }
        $('.dd-list').append(listHTML(listText));

        $('.add-list input').val("");
        fillQuestions();
    }

    var fillQuestions = function() {
        var listText = [];
        var lists = $('.dd').find('.dd-handle');
        for(var i=0; i < lists.length; i++) {
            listText.push($(lists[i]).text());
        }
        $("#questionList").val(listText.join(','));
    }

    var modiDiv;
    var modifyList = function(div) {
        modiDiv = $(div).parent();
        $('.mod-modify-input').val(modiDiv.attr('data-answerlist'));
    }

    var modifyProceed = function() {
        var text = $('.mod-modify-input').val();
        if(text.indexOf(',') > 0) {
            $.gritter.add({
                title: 'Invalid String',
                text: 'Can not contain comma(,)',
                class_name: 'clean',
                time: ''
            });
            return false;
        }
        $(modiDiv).attr('data-answerlist', text);
        $($(modiDiv).children().get(1)).text(text);
        fillQuestions();
    }

    var removeProceed = function() {
        $(modiDiv).remove();
        fillQuestions();
    }

    /*]]>*/
</script>
</body>
</html>
