<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<head>
</head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="dashboard-block">
                    <div class="pull-left dashboard-up-title">QUESTION</div>
                    <div class="alert alert-danger closed" role="alert" style="display: none;">
                        This poll <strong>is closed.</strong>
                    </div>
                    <h1 class="text-center dashboard-title" th:text="${dashboard.title}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 dashboard-block control-ox-answer control-ox-answer-o" onclick="yes()">O</div>
                <div class="col-xs-6 col-sm-6 col-md-6 dashboard-block control-ox-answer control-ox-answer-x" onclick="no()">X</div>
            </div>
        </div>
    </div>

    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;


        var WEBSOCKET_TARGET_URL = "/join";
        var stompClient, socket;
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        }
        var oxBounceClass = "choice-target";

        $(document).ready(function() {
            socketOxConnect();
            markingResult(result);
        });

        var socketOxConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                stompClient.subscribe("/socket/players/answer/ox/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                        $('.control-ox-answer-x').removeClass(oxBounceClass);
                        $('.control-ox-answer-o').removeClass(oxBounceClass);
                    }
                });
                statusConnect();
            }, function (error) {
                connect = false;
                setTimeout(function() {
                    socketOxConnect();
                }, timeout);
                statusDisconnect();
            });
        }


        var yes = function() {
            if(connect) {
                answer.response = "O";
                markingResult("O");
                stompClient.send('/socket/answer/ox/' + board.id, {}, JSON.stringify(answer));
            }
        }

        var no = function() {
            if(connect) {
                answer.response = "X";
                markingResult("X");
                stompClient.send('/socket/answer/ox/' + board.id, {}, JSON.stringify(answer));
            }
        }

        var markingResult = function(answer) {
            if(answer === "O") {
                $('.control-ox-answer-o').addClass(oxBounceClass);
                $('.control-ox-answer-x').removeClass(oxBounceClass);
            } else if(answer === "X") {
                $('.control-ox-answer-x').addClass(oxBounceClass);
                $('.control-ox-answer-o').removeClass(oxBounceClass);
            }
        }
        /*]]>*/
    </script>
</body>
</html>