<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/sockjs.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var board = /*[[${dashboard}]]*/ null;
            var uId = /*[[${uid}]]*/ null;
        /*]]>*/
        var WEBSOCKET_TARGET_URL = "/join";
        var COOKIE_ID = "apuid";
        var answer = {
            response: "",
            uid: uId
        }

        var socket = new SockJS(WEBSOCKET_TARGET_URL);
        var stompClient = Stomp.over(socket);

        stompClient.connect(' ', ' ', function(frame) {
            $('.socket-status').text("connected!!");
        }, function (error) {
            // TODO error 처리
            $('.socket-status').text("connecting ...");
        });

        var yes = function() {
            answer.response = "o";
            stompClient.send('/ox/answer/' + board.id, {}, JSON.stringify(answer));
        }

        var no = function() {
            answer.response = "X";
            stompClient.send('/ox/answer/' + board.id, {}, JSON.stringify(answer));
        }

    </script>
</head>
<body>
    <h1 th:text="${dashboard.title}"></h1>
    <div>
        <p class="socket-status">connecting ...</p>
    </div>
    <input type="button" onclick="yes()" value="YES"/>
    <input type="button" onclick="no()" value="NO"/>
</body>
</html>