<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<head>
</head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="dashboard-block">
                    <div class="pull-left dashboard-up-title">QUESTION</div>
                    <div class="alert alert-danger closed" role="alert" style="display: none;">
                        This poll <strong>is closed.</strong>
                    </div>
                    <h1 class="text-center dashboard-title" th:text="${dashboard.title}"></h1>
                </div>
                <div class="dashboard-block" th:if="!${dashboard.anonymous}">
                    <div th:if="${speaker} == null">
                        <span>실명 투표 및 이벤트 참여를 위해서 로그인이 필요 합니다.</span>&nbsp;
                        <a th:href="'/signin?board=' + ${dashboard.id}" class="btn btn btn-info btn-xs">Login</a>
                    </div>
                    <div th:if="${speaker} != null" class="controller-profile">
                        <input type="hidden" th:value="${speaker.id}" class="controller-profile-id"/>
                        <img th:src="${speaker.profileImage}"/>
                        <span th:text="${speaker.name}"></span>
                        <a th:href="'/signout?board=' + ${dashboard.id}" class="btn btn btn-info btn-xs">Change Anonymous</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 dashboard-block control-ox-answer control-ox-answer-o" onclick="yes()">Yes</div>
                <div class="col-xs-6 col-sm-6 col-md-6 dashboard-block control-ox-answer control-ox-answer-x" onclick="no()">No</div>
            </div>
        </div>
    </div>

    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var boardId = /*[[${dashboard.id}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;
        var speakerId = $('.controller-profile-id').val();


        var WEBSOCKET_TARGET_URL = "/join";
        var stompClient, socket;
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        };

        var oxBounceClass = "choice-target";

        $(document).ready(function() {
            socketOxConnect();
            markingResult(result);
            checkAnonymous();
        });

        var socketOxConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                stompClient.subscribe("/socket/players/answer/ox/" + boardId, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                        $('.control-ox-answer-x').removeClass(oxBounceClass);
                        $('.control-ox-answer-o').removeClass(oxBounceClass);
                    }
                });
                statusConnect();
            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };


        var yes = function() {
            if(connect && (result === "X" || result === null)) {
                answer.response = "O";
                markingResult("O");
                stompClient.send('/socket/answer/ox/' + boardId, {}, JSON.stringify(answer));
                result = "O";
            }
        };

        var no = function() {
            if(connect && (result === "O" || result === null)) {
                answer.response = "X";
                markingResult("X");
                stompClient.send('/socket/answer/ox/' + boardId, {}, JSON.stringify(answer));
                result = "X";
            }
        };

        var markingResult = function(answer) {
            if(answer === "O") {
                $('.control-ox-answer-o').addClass(oxBounceClass);
                $('.control-ox-answer-x').removeClass(oxBounceClass);
            } else if(answer === "X") {
                $('.control-ox-answer-x').addClass(oxBounceClass);
                $('.control-ox-answer-o').removeClass(oxBounceClass);
            }
        };

        var checkAnonymous = function() {
            if(speakerId == null) {
                answer.type = "ANONYMOUS";
            } else {
                answer.type = "FACEBOOK";
                answer.speakerId = speakerId;
            }
        };
        /*]]>*/
    </script>
</body>
</html>