<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container">
            <div th:include="dashboard-layout :: board-title"></div>
            <div class="dashboard-block dashboard-block-result">
                <div class="row">
                    <div class="text-center nobody" style="display: none;">
                        <h1>Nobody has not vote yet.</h1>
                    </div>
                </div>
                <div class="row dashboard-ox-bar">
                    <div class="col-md-6 dashboard-ox-progress">
                        <div class="pull-right dashboard-ox-bar-o text-center progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="col-md-6 dashboard-ox-progress">
                        <div class="pull-left dashboard-ox-bar-x text-center progress-bar progress-bar-warning"></div>
                    </div>
                </div>
                <div class="row dashboard-ox-bar">
                    <div class="col-md-6 dashboard-ox-progress">
                        <h2 class="pull-right dashboard-ox-bar-o-count"></h2>
                    </div>
                    <div class="col-md-6 dashboard-ox-progress">
                        <h2 class="pull-left dashboard-ox-bar-x-count"></h2>
                    </div>
                </div>
                <div class="text-center">
                    <h1 class="dashboard-ox-list">Yes&nbsp;&nbsp;No</h1>
                </div>
            </div>
        </div>
    </div>

    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;

        var stompClient, socket;
        var WEBSOCKET_TARGET_URL = "/join";
        var connect = false;
        var timeout = 5000;

        $(document).ready(function() {
            socketOxConnect();
        });

        var socketOxConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                statusConnect();
                stompClient.subscribe("/socket/players/answer/ox/" + board.id, function(message) {
                    var ox = {
                        o: 0,
                        x: 0
                    }
                    var answer = JSON.parse(message.body);
                    checkEmpty(answer.result.length);
                    for (var a in answer.result) {
                        if(answer.result[a].result == 'O') {
                            ox.o = answer.result[a].choice;
                        } else if(answer.result[a].result == 'X') {
                            ox.x = answer.result[a].choice;
                        }
                    }

                    var oPer = parseInt((ox.o/(ox.o + ox.x))*100) + "%";
                    var xPer = parseInt((ox.x/(ox.o + ox.x))*100) + "%";

                    $('.dashboard-ox-bar-o').width(oPer);
                    $('.dashboard-ox-bar-o').text(oPer);

                    $('.dashboard-ox-bar-x').width(xPer);
                    $('.dashboard-ox-bar-x').text(xPer);

                    $('.dashboard-ox-bar-o-count').text(ox.o);
                    $('.dashboard-ox-bar-x-count').text(ox.x);
                });
            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };

        var checkEmpty = function(answer) {
            if(answer == 0) {
                $('.nobody').show();
                $('.dashboard-ox-bar').hide();
            } else {
                $('.nobody').hide();
                $('.dashboard-ox-bar').show();
            }
        };
        /*]]>*/
    </script>
</body>
</html>