/* html tag */
body { background-color: #F6F6F6; }
header { background-color: #2494F2; color: #FFF; }

/* dashboard ox */
.dashboard-div { color: #555; }
.dashboard-url { margin-bottom: -20px; margin-top: 25px;}
.dashboard-link { color: #c7254e; }
.dashboard-ox-bar { margin-top: 50px; }
.dashboard-ox-bar-o-blank, .dashboard-ox-bar-o, .dashboard-ox-bar-x-blank, .dashboard-ox-bar-x { height: 30px; }
.dashboard-ox-bar-o, .dashboard-ox-bar-x { color: #fff; padding-top: 5px; }
.dashboard-ox-bar-o { background-color: #60C060; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.dashboard-ox-bar-x { background-color: #FC9700; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.dashboard-ox-list { font-size: 130px; }
.dashboard-ox-progress { padding: 0px !important; width: 50%; float: left;}
.dashboard-ox-bar-o-count { margin-right: 20px; }
.dashboard-ox-bar-x-count { margin-left: 20px; }

.dashboard-choice-chart { min-height: 400px; }
.dashboard-choice-table { width: 100%; }
.dashboard-choice-legend { width: 15px; height: 15px; }
.dashboard-choice-list { font-size: 20px; font-family: "Raleway", Helvetica, sans-serif; font-weight: 200; }
.dashboard-choice-list > tr > td { padding: 5px !important; }

.dashboard-qna-date { color: #ccc; }
.dashboard-qna:first-child { background-color: #FFFEFA; }

.dashboard-block { margin-bottom: 20px; padding: 20px 20px; background: #FFF; border-radius: 3px; -webkit-border-radius: 3px; border-left: 1px solid #efefef; border-right: 1px solid #efefef; border-bottom: 1px solid #e2e2e2; box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04); }
.dashboard-block-result { min-height: 500px; }

.dashboard-up-title { margin-top: -10px; font-family: "Raleway", Helvetica, sans-serif; font-weight: 200; }

/* utility */
.navbar-brand { color: #FFF !important; }
.pieLabel > div { font-size: 20px !important; max-width: 150px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.nobody {font-size: 30px; color: #ccc; padding: 20px;}
.choice-target {background-color: #2494F2; color: #fff;}
.dashboard-block > .roundicon {left: 2px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); font-size: 14px; color: #FFF; border-radius: 50%; background: #52AEFF; padding: 10px; text-align: center; width: 40px; height: 40px;border: 3px solid #FFF;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);z-index: 2;float: left;margin: 15px;}
.control-ox-answer {font-size: 100px; text-align: center; height: 252px; padding-top: 60px;}
.controller-choice-list {font-family: "Raleway", Helvetica, sans-serif; font-weight: 200;}

@media (max-width: 768px) {
    .dashboard-title {
        font-size: 25px !important;
    }
}