.control-ox-container {text-align: center;}
.control-ox-answer {font-size: 300px;margin: 50px;}


@media (max-width: 700px) {
    .control-ox-answer {font-size: 200px;margin: 30px;}
}

@media (max-width: 450px) {
    .control-ox-answer {font-size: 150px;margin: 30px;}
}