<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/images/favicon.png"/>

    <title>Poll.pt</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'/>

    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/fonts/font-awesome-4/css/font-awesome.min.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />

</head>

<body class="texture">

<div id="cl-wrapper" class="error-container">
    <div class="page-error">
        <h1 class="description text-center" style="font-size: 80px;">Secure Poll</h1>
        <h2 class="description text-center">Only Speaker is allowed to access poll result</h2>
        <h4 class="text-center"><a href="http://poll.pt/">If you have any question,<br/> please contact poll.pt (http://poll.pt)</a></h4>
    </div>
    <div class="text-center copy">&copy; 2014 <a href="http://poll.pt/">Poll.pt</a></div>


</div>

<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/behaviour/general.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/js/jquery.flot/jquery.flot.labels.js"></script>
</body>
</html>
