<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<link rel="stylesheet" type="text/css" href="/js/jquery.select2/select2.css" />
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container">
            <div th:include="dashboard-layout :: board-title"></div>
            <div class="dashboard-block" th:if="${not #lists.isEmpty(dashboard.tags)}">
                <div class="pull-left dashboard-up-title">Tags</div>
                <p>&nbsp;</p>
                <div class="dashboard-qna-tag"></div>
            </div>
            <div class="dashboard-block nobody" style="display: none;">
                <div class="row">
                    <div class="text-center">
                        <h1>Nobody has not vote yet.</h1>
                    </div>
                </div>
            </div>
            <div class="dashboard-qna">
            </div>
        </div>
    </div>

    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;

        var WEBSOCKET_TARGET_URL = "/join";
        var stompClient, socket;
        var connect = false;
        var timeout = 5000;

        $(document).ready(function() {
            socketQnaConnect();
        });

        var socketQnaConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                statusConnect();
                stompClient.subscribe("/socket/players/answer/qna/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    addQna(answer.result);
                });

                stompClient.subscribe("/socket/players/answer/qna/result/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    addQna(answer.result);
                });

                stompClient.subscribe("/socket/players/answer/qna/" + board.id + "/taglist", function(message) {
                    var answer = JSON.parse(message.body);
                    addTags(answer);
                });

            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };

        var addQna = function(result) {
            for(var i in result) {
                var date = new Date(result[i].createdDate);
                var dateFormat = date.getFullYear()
                                + "/" + (date.getMonth()+1)
                                + "/" + date.getDate()
                                + " " + date.getHours()
                                + ":" + date.getMinutes();
                var inHTML = "<div class='dashboard-block'>"
                                + "<p class='pull-right dashboard-qna-date'>" + dateFormat + "</p>"
                                + "<i class='fa fa-comment roundicon'></i>"
                                + "<h3>" + result[i].result + "</h3>"
                           + "</div>";
                $(".dashboard-qna").prepend(inHTML);
            }
        };

        var addTags = function(result) {
            $('.dashboard-qna-tag').empty();
            for(var i in result) {
                var inHTML = "<a class='btn btn-default btn-flat' href='/board/" + board.id + "/tags/" + result[i].name + "' >" + result[i].name + "</a>";
                $('.dashboard-qna-tag').append(inHTML);
            }
        };

        /*]]>*/
    </script>
</body>
</html>