<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dashboard-layout :: head"></head>
<body>
    <div th:include="dashboard-layout :: navbar"></div>
    <div th:include="dashboard-layout :: narrow-page" class="narrow-page"></div>
    <div id="content">
        <div class="container">
            <div class="dashboard-block">
                <div class="pull-left dashboard-up-title">MESSAGE BOARD</div>
                <div class="alert alert-danger closed" role="alert" style="display: none;">
                    This poll <strong>is closed.</strong>
                </div>
                <h1 class="text-center dashboard-title" th:text="${dashboard.title}"></h1>
                <textarea rows="3" cols="50" class="form-control control-qna-textarea"></textarea>
                <button class="control-qna-submit btn btn-primary btn-block" type="button" style="margin-top: 10px;">Submit</button>
            </div>
            <div class="dashboard-block">
                <div class="pull-left dashboard-up-title">Tags</div>
                <p>&nbsp;</p>
                <div class="dashboard-qna-tag"></div>
            </div>
            <div class="control-qna-list"></div>
        </div>
    </div>

    <div th:include="dashboard-layout :: refresh"></div>
    <div th:include="dashboard-layout :: script"></div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var board = /*[[${dashboard}]]*/ null;
        var uId = /*[[${uid}]]*/ null;
        var result = /*[[${answer}]]*/ null;

        var WEBSOCKET_TARGET_URL = "/join";
        var stompClient, socket;
        var COOKIE_ID = "apuid";
        var connect = false;
        var timeout = 5000;
        var answer = {
            response: "",
            uid: uId,
            userAgent: navigator.userAgent
        };

        $(document).ready(function() {
            socketQnaConnect();
        });

        $('.control-qna-submit').click(function() {
            response();
        });

        var socketQnaConnect = function() {
            socket = new SockJS(WEBSOCKET_TARGET_URL);
            stompClient = Stomp.over(socket);

            stompClient.connect(' ', ' ', function(frame) {
                connect = true;
                statusConnect();
                stompClient.subscribe("/socket/players/answer/qna/" + board.id, function(message) {
                    var answer = JSON.parse(message.body);
                    if(answer.result[0] != null && answer.result[0].status == false) {
                        $('.closed').show();
                        connect = false;
                    }

                    if(!board.secure) {
                        addQna(answer.result);
                    }
                });

                stompClient.subscribe("/socket/players/answer/qna/result/" + board.id, function(message) {
                    if(!board.secure) {
                        var answer = JSON.parse(message.body);
                        if(answer.result[0] != null) {
                            if(answer.result[0].status == false) {
                                $('.closed').show();
                                connect = false;
                            } else {
                                addQna(answer.result);
                            }
                        }
                    }
                });

                stompClient.subscribe("/socket/players/answer/qna/" + board.id + "/taglist", function(message) {
                    var answer = JSON.parse(message.body);
                    addTags(answer);
                });

            }, function (error) {
                connect = false;
                $('#mod-error').modal('show');
                statusDisconnect();
            });
        };

        var response = function() {
            var questionText = $('.control-qna-textarea').val();
            if(questionText.length != 0) {
                if(connect) {
                    answer.response = questionText;
                    stompClient.send('/socket/answer/qna/' + board.id, {}, JSON.stringify(answer));
                    $('.control-qna-textarea').val('');
                } else {
                    alert("마감되었습니다.");
                }
            }
        };

        var addQna = function(result) {
            for(var i in result) {
                var date = new Date(result[i].createdDate);
                var dateFormat = date.getFullYear()
                        + "/" + (date.getMonth()+1)
                        + "/" + date.getDate()
                        + " " + date.getHours()
                        + ":" + date.getMinutes();
                var inHTML = "<div class='dashboard-block'>"
                        + "<p class='pull-right dashboard-qna-date'>" + dateFormat + "</p>"
                        + "<i class='fa fa-comment roundicon'></i>"
                        + "<h3>" + result[i].result + "</h3>"
                        + "</div>";
                $(".control-qna-list").prepend(inHTML);
            }
        };

        var addTags = function(result) {
            $('.dashboard-qna-tag').empty();
            for(var i in result) {
                var inHTML = "<a class='btn btn-default btn-flat' href='/board/" + board.id + "/tags/" + result[i].name + "' >" + result[i].name + "</a>";
                $('.dashboard-qna-tag').append(inHTML);
            }
        };
        /*]]>*/
    </script>
</body>
</html>